* {
    margin: 0;
    padding: 0;
  }
  body{
    background-color: rgb(0, 0, 0)
  }
 nav{
   height: 65px;
   width: 100%;
   background-color:rgb(0, 0, 0) ;
   position:fixed;
   display: flex;
   top: 0px;
   z-index: 1;
   border-bottom: 10px;
   border-color: aquamarine;
  }
  .nav_left{
      width:25%;
      height:100%;
      position:sticky;
      display:flex;
      background-color: rgb(0, 0, 0);
      margin-left: 20.2px;
      margin-right: 20.2px;
      align-items: center;
   }
 .nav_center{
    width:40%;
    height:100%;
    position: sticky;
    display:flex;
    background-color: rgb(0, 0, 0);
    margin-left: 20.2px;
    margin-right: 20.2px;
    justify-content: space-between;
    align-items: center;
  }
 .nav_right{
      width:25%;
      height:100%;
      position: sticky;
      display:flex;
      background-color: rgb(0, 0, 0);
      margin-left: 20.2px;
      margin-right: 20.2px;
   }
  .text{
    font-family:Roboto;
    color:rgb(23, 30, 220) ;
    font-size:35px;
    font-weight: 700;
    margin-top: 11px;
    margin-bottom: 11px;
    vertical-align:middle;
  }
  .logo{
    height: 40px;
    width: 45px;
    margin-left: 15px;
    margin-right: 5px;
  }
  nav a{
  font-size: 25px;
  text-decoration: none;
  color: blue;
  font-family:Roboto;
  font-weight: 700;
  transition: 0.3s;
  }
 nav a:hover{
  color: white;
 }
 nav a.active{
  color: white;
 }

  section{
    height:100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: blue;
    font-family:Roboto;
    font-weight: 700;
  }
  .blue {
    background: #3c31dd;
  }

  .red {
    background: #dd3f31;
  }


  .dark {
    background: #0f0f10;
  }
  .spacer{
    aspect-ratio: 900/450;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .layer1{
    background-image: url(./wave-haikei.svg);
  }
  .layer2{
    background-image: url(./layered-waves-haikei.svg);
  }
  .layer3{
    background-image: url(./wave-haike.svg);
  }
  .layer4{
    background-image: url(./wave-haiki.svg);
  }






 


