* {
    margin: 0;
    padding: 0;
  }
  body{
    background-color: rgb(0, 0, 0)
  }
 nav{
   height: 65px;
   width: 100%;
   background-color:rgb(0, 0, 0) ;
   position:fixed;
   display: flex;
   top: 0px;
   z-index: 2;
   border-bottom: 10px;
   border-color: aquamarine;
   border-bottom: 10px;
   border-color: azure;
  }
  .nav_left{
      width:25%;
      height:100%;
      position:sticky;
      display:flex;
      background-color: rgb(0, 0, 0);
      margin-left: 20.2px;
      margin-right: 20.2px;
      align-items: center;
   }
 .nav_center{
    width:45%;
    height:100%;
    position: sticky;
    display:flex;
    background-color: rgb(0, 0, 0);
    margin-left: 20.2px;
    margin-right: 20.2px;
    justify-content: space-between;
    align-items: center;
  }
 .nav_right{
      width:25%;
      height:100%;
      position: sticky;
      display:flex;
      background-color: rgb(0, 0, 0);
      margin-left: 20.2px;
      margin-right: 20.2px;
   }
  .text{
    font-family:Roboto;
    color:rgb(23, 30, 220) ;
    font-size:35px;
    font-weight: 700;
    margin-top: 11px;
    margin-bottom: 11px;
    vertical-align:middle;
  }
  .logo{
    height: 40px;
    width: 50px;
    margin-left: 15px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  nav a{
  font-size: 20px;
  text-decoration: none;
  color: blue;
  font-family:Roboto;
  font-weight: 700;
  transition: all 0.5s;
  margin-top: 5px;
  padding-bottom: 8px;
  }
 nav a:hover{
  color: rgb(0, 21, 255);
  border-bottom: 3px solid rgb(0, 21, 255);
  font-size: 23px;

 }
 nav a.active{
  color: white;
  border-bottom: 3px solid rgb(255, 255, 255);
  font-size: 25px;
 }
  section{
    height:100vh;
    width: 100%;
    display: flex;
  }
  .moving-txt{
    font-family:Roboto;
    width: 70%;
    height: 50%;
    display:flex;
    margin-top: 45vh;
    margin-left: 50px;
  }
  .static-txt{
    color: #ffffff;
    font-size: 70px;
    font-weight: 600;
  }
  .dynamic-txt{
    margin-left: 15px;
    line-height: 90px;
    height: 90px;
    overflow: hidden;
  }
  .dynamic-txt li{
    list-style: none;
    color: rgb(66, 89, 163);
    font-size: 60px;
    font-weight: 600;
    position: relative;
    top: 0;
    animation: sliding 12s steps(4) infinite;
  }
  .dynamic-txtli{
    position: relative;
  }
  .dynamic-txt li ::after{
    content:"";
    position: absolute;
    height: 100%;
    width: 100%; 
    border-left:2px solid #3c31dd;
    left: 0px;
    animation: typing 2s steps(9) infinite;
    background-color: #0f0f10;
  }
  @keyframes typing{
    40%,60%{
       left: calc(100% + 5%);
    }
    100%{
      left: 0px;
    }
  }
  @keyframes sliding{
    100%{
      top: -360px;
    }
  }
  .home{
    background: #0f0f10;
  }
  .about_me{
    background: #dd3f31;
    display:flex;
    align-items: center;
    justify-content: center;

  }
  .skills{
    background: #0f0f10;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .projects{
    background: #3c31dd;
  }
  .contact{
    background: #0f0f10;
  }
  .about_me-title{
    font-family:Roboto;
    font-size: 80px;
    font-weight: 700;
    color: #ffffff;

  }
  .about_me-content{
    font-family:Roboto;
    font-size: 30px;
    position: absolute;
    z-index: 1;
    margin-left:10%;
    margin-right: 10%;
    font-weight: 500;
  }
  .progress_bar{
    height: 250px;
    width: 250px;
    background-color:#0f0f10;
    margin-left:10px;
    margin-right: 10px;
    display: flex;
    position: relative;
  }
  .outer-circle{
    height: 200px;
    width: 200px;
    margin-top: 5px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 6px 6px 10px -1px rgb(0, 60, 255),
    -6px -6px 10px -1px rgb(0, 60, 255) ;
    background-color: white;
  }
  .inner-circle{
    border-radius: 50%;
    background-color:white;
    width: 150px;
    height: 150px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0,0.7),
                 inset -4px -4px 6px -1px rgba(0, 0, 0,0.7),
                 -0.5px -0.5px 0px rgba(255,255,255,1),
                 0.5px 0.5px 0px rgba(0,0,0,0.15),
                 0px 12px 10px -10px rgba(0, 0, 0,0.05);
  }
  .skill_name{
    position:absolute;
    bottom:0px ;
    width: 200px;
    height: 40px;
    background-color:#0f0f10;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 25px 0 25px;
  }
  .skill_name p{
    font-family:Roboto;
    font-size: 20px;
    font-weight: 700;
    color: #5938ff;
  }
  #number{
    font-family:Roboto;
    font-size: 25px;
    font-weight: 700;
  }
  circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 565;
    stroke-dashoffset: 565;
    animation: anim 2s linear forwards;
  }
  svg{
    position: absolute;
    top: 5px;
    left: 25px;
  }
  @keyframes anim{
    100%{
      stroke-dashoffset:197;
    }
  }